@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #0057e7 !important;
  }
  40% {
    stroke: #0057e7 !important;
  }
  66% {
    stroke: #0057e7 !important;
  }
  80%,
  90% {
    stroke: #0057e7 !important;
  }
}
